body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background: url("./pexels-tima.jpg");
  background-repeat:repeat-y;
  backdrop-filter: blur(8px);
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ff0000;
  margin: 0 0 5px;
  font-size: 80px;
  font-weight: bold;
}

.page-subtitle {
  color: #ffffff;
  font-size: 20px;
  font-weight: bolder;
  margin-top: 20px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

#listaPeliculas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 40%;
}

.contenedorImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  margin: 20px;
}

.contenedorNum {
  font-size: 20px;
  font-weight: bolder;
  color: #ffffff;
  margin: 10px;
}

/* #eliminar {
  margin: 10px;
  background: #ff0000;
  color: #ffffff;
  border-radius: 5px;
} */

.containerImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#listaPeliculas a {
  width: 100%;
  height: 100%;
  margin: 10px;
}

#listaPeliculas a img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0px 0px 10px black;
}

#listaPeliculas img:hover {
  transform: scale(1.05);
  transition: 0.3s;
  opacity: 0.8;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin: 0 0 15px;
}

.form-wrapper label {
  font-size: 14px;
  color: #ffffff;
}

.form-wrapper input {
  display: block;
  margin-bottom: 10px;
  border-radius: 5px;
  border-style: hidden;
  padding: 5px 20px;
  width: 260px;
}

.form-wrapper button {
  border: 0;
  color: #ffffff;
  background: #0bb828;
  width: 200px;
  font-weight: bold;
  padding: 15px 15px;
  font-size: 16px;
  border-radius: 4px;
  margin: 5px auto;
  cursor: pointer;
  transition: 0.3s;
}

.form-wrapper button:hover {
  transform: scale(1.05);
  opacity: 0.7;
}
